%section.experience
  .inner
    %h2 Experience

    = partial "experience/stellar"
    = partial "experience/kpmg"
    = partial "experience/goldstar"
    = partial "experience/acumen"
    = partial "experience/youearnedit"
    = partial "experience/rockfish"
    = partial "experience/tekniq"
    = partial "experience/latour"
